<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
      <form class="form-horizontal">
　      <div class="form-group">
　        <label class="col-sm-2 control-label">商品画像</label>
　        <div class="col-sm-10"></div>
　        <%= f.attachment_field :image, class: 'form-control-file' %>
　      </div>

　      <div class="form-group">
　        <label class="col-sm-2 control-label">商品名</label>
　        <div class="col-sm-10">
　        <%= f.text_field :name, class: 'form-control-file' %>
　        </div>
　      </div>

　      <div class="form-group">
　        <label for="item_introduction">商品説明</label>
　        <%= f.text_area :introduction, id: "item_introduction", class: 'form-control-file introduction' %>
        </div>

        <div class="form-group">
          <label for="item_genre">ジャンル</label>
          <%= f.select :genre_id, [['ケーキ', 1], ['プリン', 2], ['焼き菓子',3]], { include_blank: '選択してください'}, { id: "item_genre", class: 'form-control' } %>
        </div>

        <div class="form-group">
          <label for="item_price">税抜価格</label>
          <%= f.text_field :price, id: "item_price", class: 'form-control-file price' %>円
        </div>

        <div class="form-group">
          <label for="item_status">販売ステータス</label>
          <%= f.label :is_active, '販売中', value: 1 %>
          <%= f.radio_button :is_active, '1' %>

          <%= f.label :is_active, '販売停止中', value: 2 %>
          <%= f.radio_button :is_active, '2' %>

        </div>

　      <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
      </form>
    </div>
  </div>
</div>