<span class="bg-light text-dark">注文履歴詳細</span>

<p>購入者</p>
<p>注文日</p>
<p>配送先</p>
<p>支払い方法</p>
<p>注文ステータス</p>

<div class="col-md-4 offset-md-1">
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.  %></td>
      <td>
        <%= link_to admin_item_path(item) do %>
        <%= item.name %>
        <% end %>
      </td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>

      <td>
        <% if item.is_active == true %>
          <p>販売中</p>
        <% else %>
          <p>販売停止中</p>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>
</div>