<div class="container">
  <div class="row">
　　<div class="col-md-10 offset-md-1">
  　　<div class="d-flex align-items-center">
  　　<p class="p-3 mb-10 bg-info text-white">配送先編集</p>
  　　</div>



    <div class="col-sm-12 col-md-6 px-sm-0 mx-auto">
      <%= form_with model: @address, url: address_path(@address), local: true do |f| %>
　    <p>郵便番号(ハイフンなし)<%= f.text_field :postal_code %></p>
　    <p>住所<%= f.text_field :address %></p>
　    <p>宛名<%= f.text_field :name %></p>
　    <%= f.submit "変更内容を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
