<div class="container h-100  d-flex flex-column align-items-center justify-content-center">
  <div class="row">
      <p class="text-left bg-secondary">ログイン</p>
  </div>

    <div class="row">
      <div class="col-md-12">
      <p class=" bg-secondary">会員の方はこちらからログイン</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

        <%= f.submit "ログイン", class: 'btn btn-primary' %>

      <% end %>

    </div>

    <div class="login-text">
      <h6 class="p-1 mb-1 bg-secondary">会員登録がお済みでない方</h6></div>
      <%= render "public/customers/shared/links" %>
    </div>
</div>