<div class="container">
  <div class="row">
　　<div class="col-md-10 offset-md-1">
  　　<div class="d-flex align-items-center">
  　　<p class="p-3 mb-10 bg-info text-white">注文情報入力</p>
  　　</div>

  　<%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
      <%= f.label :payment_method, "支払い方法" %>
      <br>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      <br>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      <br>

      <%= f.label :address, "お届け先" %>
      <br>

      <%= f.radio_button :select_address, 1 %>
      <%= f.label :select_address, 'ご自身の住所' %>
      <br>
      <%= current_customer.postal_code %>
      <%= current_customer.address %>
      <%= current_customer.full_name %>
      <br>

      <%= f.radio_button :select_address, value: 2 %>
      <%= f.label :select_address, '登録済住所から選択' %>
      <br>
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>

　　　<br>
      <%= f.radio_button :select_address, value: 3 %>
      <%= f.label :select_address, '新しいお届け先' %>
      <br>

      <%= f.label :postal_code, "郵便番号" %>
      <%= f.text_field :postal_code %>
      <br>

      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
      <br>
      <%= f.label :name, "宛名" %>
      <%= f.text_field :name %>

      <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
  　<% end %>


  　</div>
  </div>
</div>